@page
@model CompanyWeb.Pages.EmployeePages.IndexModel

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Department!.DepartmentName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>